<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsoft.sched.adm.mapper.JobMapper">

    <!-- Define your SQL queries here -->

    <insert id="insertJobManage" parameterType="com.tsoft.sched.adm.dto.JobManage">
        INSERT INTO tb_job_manage (job_title, job_description, job_start_date, server_group, url , param )
        VALUES (#{jobTitle},#{jobDescription},#{jobStartDate}, #{serverGroup}, #{url}, #{param} )
    </insert>

    <select id="selectAll" resultType="com.tsoft.sched.adm.dto.JobManage">
        SELECT * FROM tb_job_manage ORDER BY job_id ASC
    </select>

    <select id="selectOne" resultType="com.tsoft.sched.adm.dto.JobManage" parameterType="com.tsoft.sched.adm.dto.JobManage">
        SELECT * FROM tb_job_manage WHERE job_id = #{jobId}
    </select>

    <update id="update" parameterType="com.tsoft.sched.adm.dto.JobManage">
        UPDATE tb_job_manage
        SET job_title=#{jobTitle}, job_description=#{jobDescription}, job_start_date=#{jobStartDate}, url=#{url}, param=#{param} WHERE job_id =#{jobId}
    </update> <!-- JobManage 객체와 동일한 이름이어야 맵핑 가능 -->

    <update id="delete" parameterType="com.tsoft.sched.adm.dto.JobManage">
        UPDATE tb_job_manage
        SET job_status = -1 WHERE job_id = #{hiddenJobId}
    </update>

</mapper>
