<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsoft.sched.quartz.mapper.JobMapper">

    <!-- Define your SQL queries here -->

    <insert id="insertJobManage" parameterType="com.tsoft.sched.quartz.dto.JobManage">
        INSERT INTO tb_job_manage (JOB_TITLE, JOB_DESCRIPTION, JOB_START_DATE, URL , PARAM  )
        VALUES (#{jobTitle},#{jobDescription},#{jobStartDate}, #{url}, #{param} )
    </insert>

    <select id="selectAll" resultType="com.tsoft.sched.quartz.dto.JobManage">
        SELECT JOB_ID, JOB_TITLE, JOB_DESCRIPTION, JOB_START_DATE, JOB_STATUS, URL, PARAM FROM tb_job_manage
    </select>



</mapper>
