<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsoft.sched.quartz.mapper.QuartzMapper">

    <insert id="insertJob" parameterType="com.tsoft.sched.quartz.dto.Job">
        INSERT INTO QRTZ_JOB_DETAILS (JOB_NAME, JOB_GROUP, JOB_CLASS_NAME) VALUES
            (#{jobName}, #{jobGroup}, #{jobClassName})
    </insert>

    <insert id="insertTrigger" parameterType="com.tsoft.sched.quartz.dto.Trigger">
        INSERT INTO QRTZ_TRIGGERS (TRIGGER_NAME, TRIGGER_GROUP, JOB_NAME, JOB_GROUP, CRON_EXPRESSION) VALUES
            (#{triggerName}, #{triggerGroup}, #{jobName}, #{jobGroup}, #{cronExpression})
    </insert>

    <!-- Add other CRUD operations as needed -->

</mapper>
